#regContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#regFormContainer {
  width: 60%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
