#loginForm {
  border: 2px solid var(--kenzieBlue);
  padding: 15px;
  display: flex;
  flex-direction: center;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
