#menu {
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin-left: none;
  
  


}

#menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-left: 2em;
  padding-right: 1em;
  font-family: Helvetica neue;
  font-size: 25px;  
}

#menu-links a {
  padding-right: 0.5em;
  color: 00356B;
  cursor: pointer;
  margin: 20%;
  font-family: Helvetica neue;
  font-weight: bold;




}
i{
  color: black;

}