#menu {
  border-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: var(--kenzieBlue);
}

#menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--defaultFont);
  text-align: center;
  font-size: 20px;
}

#menu-links a {
  margin: 15% 0 15% 0;
  width: 100%;
  font-family: var(--defaultFont);
  font-weight: bold;
  color: var(--kenzieGreen);
}

#menu-links a:hover {
  cursor: pointer;
  border-right: 5px solid var(--kenzieGreen);
  padding-left: 5px;
}

#logo {
  background-image: url("../../img/kenzie-logo.png");
  background-size: cover;
  padding-bottom: 10px;
  width: 90%;
  height: 90%;
}

#logoBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  border: 2px dotted var(--kenzieBlue);
  border-radius: 50%;
  background-color: rgb(211, 211, 211);
}

#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: white;
}

#iconSpacer {
  padding: 3px;
}
