#menu {
  border-width: 1px;
  display: flex;
  flex-direction: column;
  margin-left: none;
  background-color: #00356b;
}

#menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica neue;
  text-align: center;
}

#menu-links a {
  padding-right: 0.5em;
  cursor: pointer;
  margin: 20%;
  font-family: Helvetica neue;
  font-weight: bold;
  color: rgb(0, 158, 158);
}

#logo {
  background-image: url("../../img/kenzie-logo.png");
  background-size: cover;
  background-color: white;
  padding-bottom: 10px;
  width: 130px;
  height: 130px;
}
