#entryContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border box;  
  border: 2px solid black;
  width: 1100px;  
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

#infoContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-around;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

