#changePhotoButton {
    height: 30px;
    width: 200px;


}
#profileFeed {
    display: flex;
    border: solid grey 1px;
}

profileNavBar {
    display: flex;
    
}

li {
display: inline;
margin-right: 250px;
margin-left:  250px;
}

