#profilePage {
    display: flex;
    border: solid black 1px;
}

#userCard {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

#cardText {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}

button {
    height: 30px;
    width: 125px;
    

}

img {
    border: solid black 1px;
}

#photoButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}


